{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'stylepagprincipal.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Crecer Inmobiliaria | Inmuebles de confianza</title>
</head>
<body>
    <header class="Header">
        <div class="logo">
            <a href="index.html"><img src="../../static/imagenesWeb/WhatsApp-Image-2020-01-23-at-11.13.23.jpeg" alt="Logo de la navbar"></a>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a href="{% url 'paginaPrincipal' %}">Inicio</a></li>
                <li><a href="{% url 'inmuebles' %}">Inmuebles</a></li>
                <li><a href="{% url 'vistaPrincipalProyectos' %}">Proyectos</a></li>
                <li><a href="{% url 'contactenos' %}">Contactenos</a></li>
            </ul>
        </nav>
    </header>

    <div class="div">
        <!-- <h1>ANIMACION!</h1> -->
        <h1>
            TU SUEÑO DE HOGAR <br>
            ¡APLICA SUBSIDIOS MI CASA YA!
        </h1>
    </div>

    <div class="search-container">
        <h2>Buscar Inmuebles</h2>
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" placeholder="Nombre de la publicacion" class="search-bar" value="0" name="Buscar">
                <!-- <button type="submit" class="search-btn">
                    <p id="Boton_buscar"><i class="fa-solid fa-magnifying-glass"></i></p>
                </button> -->
                <input type="submit" class="search-btn">
            </div>
            
            <div class="filters">
                <div class="filter">
                    <label for="min-price">Precio</label>
                    <select id="min-price">
                        <option name="precio_minimo">Mínimo</option>
                    </select>
                    <select id="max-price" name="precio_maximo">
                        <option>Máx.</option>
                    </select>
                </div>

                <div class="filter">
                    <label for="country">País / Región</label>
                    <select id="country">
                        <option value="">Elige país</option>
                    </select>
                </div>

                <div class="filter">
                    <label for="state">Estado</label>
                    <select id="state">
                        <option value="">Elige estado</option>
                    </select>
                </div>

                <div class="filter">
                    <label for="city">Ciudad / Departamento</label>
                    <select id="city" disabled>
                        <option value="">Elige ciudad</option>
                    </select>
                </div>

                <div class="filter">
                    <label>Tipo</label>
                    <div class="property-type">
                        <div class="prueba type-btn">
                            <input type="checkbox" value="Apartamento" class="type-btn" name="Departamento">
                            Departamento
                        </div>
                        <input type="button" value="Casa" class="type-btn">
                    </div>
                </div>

                <div class="filter">
                    <label>Dormitorios</label>
                    <div class="bedrooms">
                        <input type="button" value="Cualquier" class="bed-btn">
                        <input type="button" value="1+" class="bed-btn">
                        <input type="button" value="2+" class="bed-btn">
                        <input type="button" value="3+" class="bed-btn">
                        <input type="button" value="4+" class="bed-btn">
                    </div>
                </div>
                <div class="filter">
                    <label>Baños</label>
                    <div class="bedrooms">
                        <input type="button" value="Cualquier" class="bed-btn">
                        <input type="button" value="1+" class="bed-btn">
                        <input type="button" value="2+" class="bed-btn">
                        <input type="button" value="3+" class="bed-btn">
                        <input type="button" value="4+" class="bed-btn">
                    </div>
                </div>
                <div class="filter">
                    <label for="min-price">Área</label>
                    <select id="min-price">
                        <option value="">No min</option>
                    </select>
                    <select id="max-price">
                        <option value="">No max</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    {% for publicacion in publicaciones %}
        <div class="property-card">
                <div class="property-image">
                <a href="{% url 'publicacion' publicacion.id %}"><img src="{{publicacion.imagenPrincipal.url}}" alt="Imagen de la propiedad"></a>
            </div>
            <div class="property-details">
                <h3 class="property-title">{{publicacion.titulo}}</h3>
                <div class="property-features">
                    <span>INFO CAMAS {{publicacion.numeroCamas}}</span> 
                    <span>INFO BAÑOS {{publicacion.numeroBaños}}</span> 
                    <span>INFO PIES {{publicacion.tamaño}}</span>
                </div>
                <p class="property-price">PRECIO {{ publicacion.precio|intcomma }}</p>
            </div>
        </div>
    {% endfor %}
<footer>
    <div class="contact-container">
        <div class="contact-form">
            <h2>Escríbanos</h2>
            <form>
              <div class="form-group">
                <input type="text" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <input type="email" placeholder="E-mail" required>
                <input type="tel" placeholder="Teléfono" required>
              </div>
              <div class="form-group">
                <textarea placeholder="Mensaje" required></textarea>
              </div>
              <button type="submit" class="btn-submit">Enviar</button>
            </form>
            <p>Nos pondremos en contacto lo más pronto posible</p>
          </div>
          
        <div class="footer-container">
          <img src="../../static/imagenesWeb/WhatsApp-Image-2020-01-23-at-11.13.23.jpeg" alt="logo_footer">
          <p>© Crecer Inmobiliaria. Todos los derechos reservados.</p>
        </div>
        <div class="footer-social">
          <a href="#"><i class="fab fa-facebook-f" id="facebook"></i></a>
          <a href="#"><i class="fab fa-instagram" id="instagram"></i></a>
          <a href="#"><i class="fab fa-youtube" id="youtube"></i></a>
        </div>
    </div>

</footer>
      
</body>
</html>