<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    {% if publicaciones !=  None %}
      {% for publicacion in publicaciones %}
      <div>
        <h2><a href="{% url 'publicacion' publicacion.id %}">{{publicacion.titulo}}</a></h2>
        <p>{{publicacion.fecha}}</p>
        <p>{{publicacion.descripcion}}</p>
        <img width="100px" height="100px" src= "{{ publicacion.imagenPrincipal.url }}" alt="">
      </div>
      {% endfor %}
    {% else %}
      <p>No hay publicaciones disponibles</p>
    {% endif %}
</body>
</html>