{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <!-- Enlace al archivo CSS externo -->
    <link rel="stylesheet" href="{% static 'perfil.css' %}">
</head>
<body>

    <div class="perfil-container">
        <!-- Sección de Encabezado -->
        <div class="perfil-header">
            <h1>Perfil de Usuario</h1>
        </div>

        <!-- Imagen de perfil -->
        <div class="perfil-imagen">
            <img src="https://via.placeholder.com/150" alt="Foto de Perfil del Usuario">
        </div>

        <!-- Detalles del Usuario -->
        <div class="perfil-detalles">
            <p><strong>Nombre:</strong> {{usuario.username}}</p>
            <p><strong>Correo Electrónico:</strong> {{usuario.email}}</p>
        </div>

        <!-- Redes Sociales -->
        <div class="redes-sociales">
            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
            <a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a>
            <a href="#"><i class="fab fa-github"></i> GitHub</a>
        </div>
    </div>
    <div>
        
    </div>

</body>
</html>
