
<!-- Carga el archivo css -->
{% load static %}

<!-- Etiqueta html para traer los estilos que se encuentra en la carpeta static -->
<link rel="stylesheet" href="{% static 'styles.css' %}">
<!-- Titulo de la pagina web -->
<h1>Registro de usuario</h1>
<!-- Formulario para registrar el usuario -->
<form action="" method="POST">
    {% csrf_token %}
    <label for="username">Ingrese el nombre de usuario</label>
    <input type="text" name="username" required>

    <label for="first_name">Ingrese su nombre</label>
    <input type="text" name="first_name" required>

    <label for="last_name">Ingrese su apellido</label>
    <input type="text" name="last_name" required>

    <label for="password">Ingrese la contraseña</label>
    <input type="text" name="password" required>

    <label for="passwordDos">Confirme la contraseña</label>
    <input type="text" name="passwordDos" required>

    <label for="email">Ingrese su correo electrónico</label>
    <input type="email" name="email" required>

    <input type="submit">
</form>