{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Sección de Inmobiliaria</title>
    <link rel="stylesheet" href="{% static 'sobreNosotros.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a nuestra sección de Inmobiliaria</h1>
        <p>Aquí encontrarás información sobre nuestros servicios y propiedades.</p>
        <p>Los servicios que ofrecemos incluyen:</p>
        <ul>
            <li>Venta y alquiler de propiedades residenciales y comerciales</li>
            <li>Asesoría inmobiliaria para compradores y vendedores</li>
            <li>Gestión de alquileres y mantenimiento</li>
        </ul>
        <p>Si necesitas más información o tienes alguna pregunta, no dudes en contactarnos.</p>
        <p><a href="#">Contacto</a></p>
    </div>
</body>
</html>